<header id="header">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon d-flex justify-content-center align-items-center"
      aria-label="Example icon-button with menu icon"
    >
      <img src="../assets/images/productIcon.png" alt="logo" class="logo" />
    </button>
    <span class="padding-left">My products</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="warn" (click)="openDialog()">
      Add Product
    </button>
  </mat-toolbar>
</header>
