#dialog-form div > .mat-form-field {
  width: 100%;
  overflow: hidden;
}

#dialog-form .example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

#dialog-form .example-radio-button {
  margin: 5px;
}

#dialog-form .example-radio-group {
  margin: 0 !important;
}

#dialog-form h2 {
  margin-bottom: 10px !important;
}

#dialog-form .bg-color-red {
  background-color: var(--orange-c);
}

#dialog-form .bg-color-red:hover {
  background-color: var(--orange-c-hover);
}

#dialog-form .bg-color-green {
  background-color: var(--green-c);
}

#dialog-form .bg-color-green:hover {
  background-color: var(--green-c-hover);
}
