:root {
  --orange-c: #f37c5a;
  --light-orange: #f17a5970;
  --orange-c-hover: #ff3700;
  --gray-c: #474f59;
  --light-gray-c: #474f5936;
  --yellow-c: #f9c96a;
  --strong-yellow-c: #ffaa01;
  --green-c: #43bb43;
  --green-c-hover: #03dd03;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
