<div id="dialog-form">
  <h1 mat-dialog-title>Add Product</h1>
  <div class="mat-dialog-content">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput placeholder="Product Name" />
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select placeholder="Product Category">
        <mat-option value="Books">Books</mat-option>
        <mat-option value="Sport">Sport</mat-option>
        <mat-option value="Food">Food</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
